
/* input */
/* button */
html, body{
  color: #222223;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: 600;
  font-family: serif;
  text-transform: none;
  text-rendering: optimizeLegibility;
}
h1 {
  margin: 0.67em 0;
  font-size: 1.8em;
}
> h1 {
  margin-top: 0;
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  margin: 1em 0;
  font-size: 1.17em;
}
h4, h5, h6 {
  font-size: 1em;
  margin: 1.6em 0 1em 0;
}
h6 {
  font-weight: 500;
}
p {
  margin-top: 0;
  margin-bottom: 1.24em;
}
strong, b {
  font-weight: 700;
  color: #222223;
}
em, i {
  font-style: italic;
  color: #222223;
}
q, blockquote{
  color: #666664;
  padding-left: 12px;
  margin: 0 0 1.64em 0;
  border-left: 3px solid #dadada;
}
q a, blockquote a { 
    color: #666664;
  }
q:before, q:after, blockquote:before, blockquote:after{
  content: '';
  content: none;
}
hr {
  display: block;
  width: 14%;
  margin: 40px auto 34px;
  border: 0 none;
  border-top: 3px solid #dededc;
}
table {
  width: 100%;
  max-width: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: gray;
}
caption {
  display: table-caption;
  text-align: center;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit
}
tfoot {
  display: table-footer-group;
  vertical-align: middle;
  border-color: inherit
}
table > tr {
  vertical-align: middle;
}
col {
  display: table-column;
}
colgroup {
  display: table-column-group;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit
}
tr:nth-child(even) {
  background-color: #efefee;
}
td, th {
  width: auto;
  display: table-cell;
  vertical-align: inherit;
}
th {
  font-weight: bold;
}
ul, ol {
  margin: 0 0 24px 6px;
  padding-left: 16px;
}
ul{
  list-style-type: disc;
}
ul ul{
  list-style-type: circle;
}
ul ul ul{
  list-style-type: square;
}
ol{
  list-style-type: decimal;
}
li {
  margin-bottom: 0.2em;
}
li ul, li ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 14px;
}
li p {
  margin: 0.4em 0 0.6em;
}
img {
  max-width: 100%;
  height: auto;
  margin: 0.2em 0;
  border: none;
}
figure {
  position: relative;
  clear: both;
  outline: 0;
  margin: 10px 0 30px;
  padding: 0;
  min-height: 100px;
}
figure img {
  display: block;
  max-width: 100%;
  margin: auto auto 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
figure figcaption {
  position: relative;
  width: 100%;
  text-align: center;
  left: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #666665;
}
figure figcaption a {
  text-decoration: none;
  color: #666665;
}
code, tt {
  color: #808080;
  font-size: 0.96em;
  background-color: #f9f9f7;
  padding: 1px 2px;
  border: 1px solid #eee;
  border-radius: 3px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  word-wrap: break-word;
}
pre {
  margin: 1.64em 0;
  padding: 7px;
  border: none;
  border-left: 3px solid #dadada;
  padding-left: 10px;
  overflow: auto;
  line-height: 1.5;
  font-size: 0.96em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #4c4c4c;
  background-color: #f9f9f7;
}
pre code, pre tt {
  color: #4c4c4c;
  border: none;
  background: none;
  padding: 0;
}
iframe {
  display: block;
  max-width: 100%;
  margin-bottom: 30px;
}
figure iframe {
  margin: auto;
}