.button {
  /* size */
  min-width: 70px;
  padding: .4rem .45rem;
  display: inline-flex;
  box-sizing: border-box;
  /* align */
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  /* text */
  font-size: 1em;
  font-family: sans-serif;
  white-space: nowrap;
  /* border */
  border-width: 1px;
  border-style: solid;
  border-radius: var(--radius-size);
  border-color: var(--button-border-color, #efefef);
  /* appearance */
  outline: 0;
  opacity: .85;
  cursor: pointer;
  appearance: none;
  color: var(--button-color, #333);
  background-color: var(--button-background-color, #fefefe);

  transition: all .5s ease;
}

a.button {
  /* remove link underline */
  text-decoration: none;
  color: var(--button-color, #333) !important;
}

.button:hover {
  opacity: 1;
}

.button:active {
  opacity: .75;
}

.button-small {
  min-width: 50px;
  font-size: .75em;
  padding: .1rem .2rem;
}

.button-large {
  font-size: 1.25em;
  padding: .5rem .6rem;
}

.button-block {
  width: 100%;
  display: block;
  max-width: 100%;
}

.button-group {
  overflow: hidden;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--radius-size);
  border-color: var(--button-border-color, #efefef);
}

.button-group button {
  border: none;
  border-radius: 0;
}

.button-primary {
  --button-color: var(--button-primary-color, blue);
  --button-border-color: var(--button-primary-border-color);
  --button-background-color: var(--button-primary-background-color);
}

.button-success {
  --button-color: var(--button-success-color, green);
  --button-border-color: var(--button-success-border-color);
  --button-background-color: var(--button-success-background-color);
}

.button-warning {
  --button-color: var(--button-warning-color, orange);
  --button-border-color: var(--button-warning-border-color);
  --button-background-color: var(--button-warning-background-color);
}

.button-danger {
  --button-color: var(--button-danger-color, red);
  --button-border-color: var(--button-danger-border-color);
  --button-background-color: var(--button-danger-background-color);
}
