.button {
  
  outline: 0;
  opacity: .95;
  font-size: 1em;
  min-width: 70px;
  cursor: pointer;
  appearance: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  padding: .4rem .45rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: sans-serif;

  color: var(--button-normal-color, #333);
  border: 1px solid var(--button-normal-border-color, white);
  background-color: var(--button-normal-background-color, white);
}

.button:hover {
  opacity: 1;
}

.button-primary {
  color: var(--button-primary-color, white);
  border-color: var(--button-primary-border-color, black);
  background-color: var(--button-primary-background-color, black);
}

.button-success {
  color: var(--button-success-color, white);
  border-color: var(--button-success-border-color, black);
  background-color: var(--button-success-background-color, black);
}

.button-warning {
  color: var(--button-warning-color, white);
  border-color: var(--button-warning-border-color, black);
  background-color: var(--button-warning-background-color, black);
}

.button-danger {
  color: var(--button-danger-color, white);
  border-color: var(--button-danger-border-color, black);
  background-color: var(--button-danger-background-color, black);
}

.button-small {
  font-size: .75em;
  padding: .1rem .2rem;
}

.button-large {
  font-size: 1.25em;
  padding: .5rem .6rem;
}

.button-block {
  width: 100%;
  display: block;
  max-width: 100%;
}
