/**
Example:

<div class="switch">
  <input id="switch-1" type="checkbox" class="switch-input" />
  <label for="switch-1" class="switch-label">Switch</label>
</div>
*/

.switch {
  display: flex;
}

.switch input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch label {
  width: 45px;
  height: 20px;
  padding: 4px;
  display: block;
  cursor: pointer;
  border-radius: 50em;
  position: relative;
  transition: 0.3s;
  box-sizing: content-box;
  background-color: rgb(0, 0, 0, 0.2);
}

.switch label:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  transition: 0.3s;
  border-radius: 50em;
  background-color: #fff;
}

.switch input:checked + label {
  background-color: #5549f1;
}

.switch input:checked + label:after {
  transform: translateX(calc(100% + 5px));
}
