/**

Example:

<div class="dropdown">
  <h3>Dropdown Menu</h3>
  <ul class="dropdown-menu">
    <li><a href="">Menu Item 1</a></li>
    <li><a href="">Menu Item 2</a></li>
    <li><a href="">Menu Item 3</a></li>
    <li><a href="">Menu Item 4</a></li>
  </ul>
</div>
*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  left: 0;
  top: 100%;
  right: 0;
  margin: 0;
  padding: 0;
  display: none;
  overflow: hidden;
  position: absolute;
  background: #fff;
  border: 1px solid #ddd;
}

.dropdown-menu li,
.dropdown-menu-item {
  width: 100%;
  cursor: pointer;
  list-style: none;
  padding: 3px 5px;
}

.dropdown-menu li:hover,
.dropdown-menu-item:hover {
  background-color: #efefef;
}
