@import url(./input.css);
@import url(./button.css);
@import url(./select.css);
@import url(./checkbox.css);

.form-field {
  flex: 1 1 auto;
  margin-top: 10px;
}

.form-field label {
  display: block;
}

.form-group {
  width: 100%;
  display: flex;
}

.form-group .form-field {
  flex: 1 1 auto;
  margin-top: 0;
}
