/**
 * Grid
 */
 .container{
  width: 80%;
  margin: auto;
}
 .row {
  margin: 1% 0;
  overflow: auto;
}
 .col-12 {
  width: 100%;
}
 .col-11 {
  width: 91.66%;
}
 .col-10 {
  width: 83.33%;
}
 .col-9 {
  width: 75%;
}
 .col-8 {
  width: 66.66%;
}
 .col-7 {
  width: 58.33%;
}
 .col-6 {
  width: 50%;
}
 .col-5 {
  width: 41.66%
}
 .col-4 {
  width: 33.33%;
}
 .col-3 {
  width: 25%;
}
 .col-2 {
  width: 16.66%;
}
 .col-1 {
  width: 8.33%;
}
 [class*="col-"] {
  float: left;
}
 @media (max-width:870px) {
  .row > [class*="col-"] {
    width: 100%;
  }
}