@import url(./base.css);

.link,
.link a {
  color: var(--color-primary);
}

.link a:active,
.link:active {
  color: var(--color-primary);
}

.link:hover,
.link a:hover {
  text-decoration: underline;
}

.link-without-underline,
.link-without-underline a {
  text-decoration: none;
}
