.panel {
  margin: 10px 0;
  background-color: var(--content-background-color, white);
}

.panel-footer,
.panel-header {
  margin: 0;
  padding: 8px 15px;
  display: block;
  font-size: 14px;
  font-weight: bold;

  color: var(--color, #000);
  border-top: 1px solid var(--border-color, #eee);
  border-bottom: 1px solid var(--border-color, #eee);
}

.panel-body {
  padding: 15px;
  color: var(--color);
}
