.panel {
  margin: 10px 0;
  background-color: #fff;
}

.panel-footer,
.panel-header {
  margin: 0;
  padding: 8px 15px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.panel-body {
  padding: 15px;
}
