.progress-bar {
  width: 100%;
  z-index: 100;
  overflow: hidden;
  height: var(--progress-bar-height, 20px);
  background: var(--progress-bar-background, #ccc);
  border-radius: var(--progress-bar-border-radius, var(--border-radius));
}

.progress-bar .progress-bar-inner {
  height: 100%;
  min-width: 0;
  max-width: 100%;
  line-height: 1.3;
  text-align: center;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  color: var(--progress-bar-text-color, #fff);
  background: var(--progress-bar-foreground, skyblue);
}

.progress-bar-green {
  --progress-bar-foreground: #4caf50;
}

.progress-bar-red {
  --progress-bar-foreground: #f44336;
}

.progress-bar-loading .progress-bar-inner {
  --progress-bar-foreground: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent) 0 0 / 40px 40px;
}
