.select {
  all: unset;
  display: block;
  padding: .4rem .45rem;
  font-size: 1em;
  font-family: sans-serif;
  color: var(--text-color);
  /* appearance */
  outline: 0;
  opacity: .9;
  cursor: pointer;
  appearance: none;
  line-height: 1.3;
  /* border */
  border-width: 1px;
  border-style: solid;
  border-radius: var(--radius-size);
  border-color: var(--border-color, #efefef);
  background-color: var(--select-background-color, #fff);
}
