.select {
  all: unset;
  padding: 8px;
  font-size: 1em;
  white-space: nowrap;
  font-family: sans-serif;
  color: var(--text-color);
  /* appearance */
  outline: 0;
  opacity: .9;
  cursor: pointer;
  appearance: none;
  line-height: 1.3;
  /* border */
  border-width: 1px;
  border-style: solid;
  border-radius: var(--border-radius);
  border-color: var(--border-color, #efefef);
  background: var(--select-background-color, #fff);
}
