.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  width: 200px;
  display: flex;
  overflow: hidden;
  background-color: #eee;
  flex-direction: column;
}

.sidebar ul {
  padding: 10px;
  list-style: none;
  overflow: auto;
}

.sidebar ul::-webkit-scrollbar {
  display: none;
}

.sidebar li {
  margin: 10px 0;
  padding: 10px;
  background-color: #ddd;
}

.sidebar,
.sidebar li a {
  color: #111;
  text-decoration: none;
}

.sidebar li:hover {
  background-color: #ccc;
}

.sidebar li:hover a {
  color: #111;
}
