/**
Example:

<div class="switch">
  <input id="switch-1" type="checkbox" class="switch-input" />
  <label for="switch-1" class="switch-label">Switch</label>
</div>
*/

.switch {
  display: inline-flex;
  --switch-size: 10px;
  --switch-width: 25px;
  --switch-color-on: #5549f1;
  --switch-color-off: rgb(0, 0, 0, 0.2);
}

.switch input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch label {
  width: var(--switch-width);
  height: var(--switch-size);
  padding: 4px;
  display: block;
  cursor: pointer;
  border-radius: 50em;
  position: relative;
  transition: 0.3s;
  box-sizing: content-box;
  background-color: var(--switch-color-off);
}

.switch label:after {
  content: "";
  width: var(--switch-size);
  height: var(--switch-size);
  position: absolute;
  transition: 0.3s;
  border-radius: 50em;
  background-color: #fff;
}

.switch input:checked+label {
  background-color: var(--switch-color-on);
}

.switch input:checked+label:after {
  transform: translateX(calc(var(--switch-width) - var(--switch-size)));
}
