/**
 * Table
 */
.table {
  width: 100%;
  border-spacing: 0.5rem;
  border-collapse: collapse;
}

.table th {
  text-align: left;
}

.table-hover tr:hover td {
  background-color: beige;
}

.table-striped tbody tr:nth-child(even) {
  background-color: var(--table-row-bgcolor, #efefef);
}

.table-bordered,
.table-bordered th,
.table-bordered tr,
.table-bordered td {
  border: 1px solid var(--border-color, #efefef);
}

.table-bordered>thead>tr>th {
  border-bottom-width: 2px;
}
