@import url(./text.css);
@import url(./color.css);

.hide {
  display: none;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.full-width {
  width: 100%;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  height: 0;
  clear: both;
  font-size: 0;
  content: " ";
  display: block;
  visibility: hidden;
}

.border-none {
  border: none;
}

.overflow-hidden,
.scroll-none {
  overflow: hidden;
}

.scroll-x {
  overflow-x: scroll;
}

.scroll-y {
  overflow-y: scroll;
}

.margin-reset {
  margin: 0;
}

.padding-reset {
  padding: 0;
}

.fixed {
  position: fixed;
}

.sticky {
  top: 0;
  position: sticky;
}

.relative {
  position: relative;
}
