@import url(./default.css);

:root {
  --text-color: #ccc;
  --link-color: #9effff;
  --title-color: #ffee80;
  --border-color: #ddd3;
  --background-color: #002240;
  --content-background-color: transparent;
  --code-block-background-color: #333;
}
