@import url(./default.css);

/* dark mode */
:root {
  --text-color: #fff;
  --border-color: #333;

  --background-color: #111;
  --background-color: #363a3e;


  --content-background-color: #222;

  --switch-color-off: #444;
  --select-background-color: #666;

  --sidebar-bg-color: #2e3236;
  --menu-item-active-color: #555;
}
